.square {
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
  }
  .board {
    justify-content: center;
    display: grid;
    background: #fff

  }
  .row {
    display: flex;
  }
  .player {
    background-color: rgb(248, 234, 39);
  }
  .point {
    background-color: rgb(6, 173, 6);
  }
  .label-game_over {
    display: none;
    justify-content: center;
    font-weight: bold;
  }
  .label-points {
    font-weight: bold;
    display: flex;
    justify-content: center;
  }